mixin articulo
    article.blog__item
        figure.blog__imagen
            img(src="img/blog--item.png", alt="Blog Iem")
        .blog__information
            h4 Categoria
            h2 <a href="single.html">titulo Articulo</a>
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente praesentium laboriosam nam nihil magni, maxime quibusdam molestiae rem exercitationem ex deleniti sed facere esse distinctio earum odio commodi dolorum quas.Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente praesentium laboriosam nam nihil magni, maxime quibusdam molestiae rem exercitationem ex deleniti sed facere esse distinctio earum odio commodi dolorum quas.

mixin articuloSidebar
    article.blog__item.blog__item--sidebar
        figure.blog__imagen
            img(src="img/blog--item.png", alt="Blog Iem")
        .blog__information
            h6 Fecha
            h1 titulo Articulo
            h4 Categoria
            