section.porque.comoFunciona
    header.header
        h3.title.title--main.title--mainMini ¿Como Funciona?
    .box
        article.porque__item
            h4.title.title--item Pre-inscribete
            figure
                img(src="img/pre-inscribete.png", width="200", heigth="200")
            figcaption.porque__description Ve tu primera clase y recibe material de apoyo.  ¡ES GRATIS!
            
            a(href="#", class="btn") Saber Mas...
        article.porque__item
            h4.title.title--item Te contáctamos
            figure
                img(src="img/te-contactamos.png", width="200", heigth="200")
            figcaption.porque__description te damos acompañamiento continuo en tu proceso formativo
            a(href="#", class="btn") Saber Mas...
        article.porque__item
            h4.title.title--item ¡Es hora de iniciar!
            figure
                img(src="img/es-hora-de-iniciar.png", width="200", heigth="200")
            figcaption.porque__description Aprende y disfruta del contenido de tu curso
            a(href="#", class="btn") Saber Mas...
        article.porque__item
            h4.title.title--item Premio a tu dedicación
            figure
                img(src="img/premio-a-tu-dedicacion.png", width="200", heigth="200")
            figcaption.porque__description Recibe tu certificado al completar los módulos del curso.
            a(href="#", class="btn") Saber Mas...
        
