section.porque.comoFunciona
    header.header
        h3.title.title--main ¿Como Funciona?
    .box
        article.porque__item
            h4 Pre-inscribete
            figure
                img(src="img/pre-inscribete.png", width="200", heigth="200")
            figcaption Ve tu primera clase y recibe material de apoyo. <br>
            strong ¡ES GRATIS!
            a(href="#", class="btn") Saber Mas...
        article.porque__item
            h4 Te contáctamos
            figure
                img(src="img/te-contactamos.png", width="200", heigth="200")
            figcaption te damos acompañamiento continuo en tu proceso formativo
            a(href="#", class="btn") Saber Mas...
        article.porque__item
            h4 ¡Es hora de iniciar!
            figure
                img(src="img/es-hora-de-iniciar.png", width="200", heigth="200")
            figcaption Aprende y disfruta del contenido de tu curso
            a(href="#", class="btn") Saber Mas...
        article.porque__item
            h4 Premio a tu dedicación
            figure
                img(src="img/premio-a-tu-dedicacion.png", width="200", heigth="200")
            figcaption Recibe tu certificado al completar los módulos del curso.
            a(href="#", class="btn") Saber Mas...
        
