.coursesCountDown
	.box
		.coursesCountDown__item.coursesCountDown__flex
			.coursesCountDown__fecha
				span.dia 10
				span.mes Marzo
			.coursesCountDown__informacion
				strong.color-warning.proximoCurso Proximo Curso
				span Taller de creación de personajes y diálogos
		.coursesCountDown__item
			span Cursos disponibles
			span 15
		.coursesCountDown__item.iniciaClases
			span Inicia tu primera clase
			span Gratis ->