section.enterate
    header.header
        h3.title.title--main ¿Entérate de lo nuevo?
        h5 Nuestra dedicación es constante, y en TEA siempre estamos contándote algo nuevo
    .box
        article.enterate__caja.enterate__caja--izquierdo
            figure
                a(href="#")
                    img(src="img/blog-1.jpg", width="630", height="480", title="Blog 1", alt="Blog 1")
                figcaption
                    h2 TEA Lanza 2 nuevos cursos sobre edición audiovisual
                    p Hemos actualizado nuestros terminos y condiciones para ...
        .enterate__caja.enterate__caja--derecho
            article
                figure
                    a(href="#")
                        img(src="img/blog-2.jpg", width="630", height="480", title="Blog 2", alt="Blog 2")
                .enterate__informacion
                    h2 TEA Lanza 2 nuevos cursos sobre edición audiovisual
                    p Hemos actualizado nuestros terminos y condiciones para ...
                
            article
                figure
                    a(href="#")
                        img(src="img/blog-3.jpg", width="630", height="480", title="Blog 3", alt="Blog 3")
                .enterate__informacion
                    h2 TEA Lanza 2 nuevos cursos sobre edición audiovisual
                    p Hemos actualizado nuestros terminos y condiciones para ...
                
            article
                figure
                    a(href="#")
                        img(src="img/blog-4.jpg", width="630", height="480", title="Blog 4", alt="Blog 4")
                .enterate__informacion
                    h2 TEA Lanza 2 nuevos cursos sobre edición audiovisual
                    p Hemos actualizado nuestros terminos y condiciones para ...
                

        
