section.estadisticas
	.box
		article.estadisticas__caja.estadisticas__opacidad.estadisticas__informacion
			span Nosotros conocemos
			strong Tu potencial,
			span Queremos impulsar
			strong Tus talentos
		article.estadisticas__caja.estadisticas__numeros
			.estadisticas__item.estadisticas__opacidad
				span Estudiantes
				strong 5872
			.estadisticas__item.estadisticas__opacidad
				span Cursos
				strong 155
			.estadisticas__item.estadisticas__opacidad
				span Beneficios
				strong 120
			.estadisticas__item.estadisticas__opacidad
				span Cursos nuevos al mes
				strong 155

	