section.llamadaAccion
    .box
        .llamadaAccion__btn
            .btn.btn--success.btn--large Ver Cursos
        .llamadaAccion__informacion
            p ¿Qué esperas? , inicia tu primera clase GRATIS Y descrubre todo lo que The End Academy puede ofrecerte
        