section.porque
    header.header
        h3.title.title--main ¿Por qué estudiar en The End Academy?
        h5 Los creadores de "The End Magazine" se unieron para desarrollar una academia que explicara las cosas del cine de una manera distinta a lo usual
    .box
        article.porque__item
            h4 Facilidad de Pago
            figure
                img(src="img/facilidad-de-pago.png", width="200", heigth="200")
            figcaption Puedes financiar tus cursos a través de múltiples formas de pago, evitando acudir a prestamos para pagar de contado
            a(href="#", class="btn") Saber Mas...
        article.porque__item
            h4 Descuentos y servicios
            figure
                img(src="img/descuentos-y-servicios.png", width="200", heigth="200")
            figcaption Una vez tu formación con nosotros recibes descuentos especiales en cursos relacionados o de ru preferencia.
            a(href="#", class="btn") Saber Mas...
        article.porque__item
            h4 Alianzas
            figure
                img(src="img/alianzas.png", width="200", heigth="200")
            figcaption ¡Practica, practica más!, como estudiante de nuestra academia TEA, puedes realizar prácticas con empresas aliadas del sector.
            a(href="#", class="btn") Saber Mas...
        
