section.porque
    header.header
        h3.title.title--main ¿Por qué estudiar en The End Academy?
        h5.seccion__description Los creadores de "The End Magazine" se unieron para desarrollar una academia que explicara las cosas del cine de una manera distinta a lo usual.
    .box
        article.porque__item
            h4.title.title--item Facilidad de Pago
            figure
                img(src="img/facilidad-de-pago.png", width="200", heigth="200")
            figcaption.porque__description Puedes financiar tus cursos a través de múltiples formas de pago, evitando acudir a prestamos para pagar de contado
            a(href="#", class="btn") Saber Mas...
        article.porque__item
            h4.title.title--item Descuentos y servicios
            figure
                img(src="img/descuentos-y-servicios.png", width="200", heigth="200")
            figcaption.porque__description Una vez tu formación con nosotros recibes descuentos especiales en cursos relacionados o de tu preferencia.
            a(href="#", class="btn") Saber Mas...
        article.porque__item
            h4.title.title--item Alianzas
            figure
                img(src="img/alianzas.png", width="200", heigth="200")
            figcaption.porque__description ¡Practica, practica más!, como estudiante de nuestra academia TEA, puedes realizar prácticas con empresas aliadas del sector.
            a(href="#", class="btn") Saber Mas...
        
