section.ultimosCursos
    .box
        article.ultimosCursos__destacado
            figure.ultimosCursos__imagen
                img(src="img/taller-creacion-dialogos-small.jpg", alt="Taller de creacion de dialogos")
                figcaption
                    h3 Taller de creación de personajes y diálogos
                    a(href="#", class="btn btn--white") Ir al curso
                .banderaCategoria Producción
        .ultimosCursos__items
            article
                figure.ultimosCursos__imagen
                    img(src="img/curso-fotografia-escenarios-small.jpg", alt="curso fotografia  escenarios")
                    figcaption
                        h3 Curso fotografia escenarios
                        a(href="#", class="btn btn--success") Ir al curso
                .banderaCategoria Producción
            article
                figure.ultimosCursos__imagen
                    img(src="img/taller-creacion-personajes-small.jpg", alt="Taller creacion personajes")
                    figcaption
                        h3 Taller creacion personajes
                        a(href="#", class="btn btn--success") Ir al curso
                .banderaCategoria Producción
            article
                figure.ultimosCursos__imagen
                    img(src="img/curso-fotografia-small.jpg", alt="Curso fotografia")
                    figcaption
                        h3 Curso fotografia
                        a(href="#", class="btn btn--success") Ir al curso
                .banderaCategoria.banderaCategoria--azul Fotografia
            article
                figure.ultimosCursos__imagen
                    img(src="img/direccion-cortometraje-small.jpg", alt="Direccion cortometraje")
                    figcaption
                        h3 Direccion cortometraje
                        a(href="#", class="btn btn--success") Ir al curso
                .banderaCategoria Producción
        
    a.btn.btn--primary Explorar otros cursos