/*------------------------------------*\
    $CONTENT
\*------------------------------------*/
/**
 * Content....................... This you read
 * Variables..................... We set all the framework variables
 * Mixins........................ Mixins of Stylus
 * Helpers....................... Classes of help
 * Reset......................... Restart CSS values
 * Fonts......................... Fonts we're going to import
 * Links......................... Shapes and styles of the links
 * Buttons....................... Button styles, skins and variants
 * Elements...................... Various elements like Image, HR, etc ...
 * Typography.................... Headings, small, paragraphs, lists, etc ...
 * Navegatión.................... A navigation, if you want to use this and not your own
 * Form.......................... Styles of all form elements and their variants
 * site.......................... Here you write your styles for the web looks like you want;)
 * Paginatión.................... Basic Styles for Pages
*/