icomoon-font-path ?= "fonts"

academy-facebook = "\e900"
academy-google-plus = "\e901"
academy-instagram = "\e902"
academy-pinterest = "\e903"
academy-twitter = "\e904"
academy-vimeo-social = "\e905"
academy-youtube = "\e906"

