/*------------------------------------*\
    $FONTS
\*------------------------------------*/

icomoon-font-path ?= "fonts"

academy-facebook = "\e900"
academy-google-plus = "\e901"
academy-instagram = "\e902"
academy-pinterest = "\e903"
academy-twitter = "\e904"
academy-vimeo-social = "\e905"
academy-youtube = "\e906"

@font-face
    font-family 'academy'
    src url('fonts/academy/academy.eot?t3i9as');
    src url('fonts/academy/academy.eot?t3i9as#iefix') format('embedded-opentype'),
        url('fonts/academy/academy.ttf?t3i9as') format('truetype'),
        url('fonts/academy/academy.woff?t3i9as') format('woff'),
        url('fonts/academy/academy.svg?t3i9as#academy') format('svg')
  font-weight: normal
  font-style: normal


[class^="academy-"], [class*=" academy-"]
  font-family 'academy' !important
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.academy-facebook
  &:before
    content academy-facebook
.academy-google-plus
  &:before
    content academy-google-plus
.academy-instagram
  &:before
    content academy-instagram
.academy-pinterest
  &:before
    content academy-pinterest
.academy-twitter
  &:before
    content academy-twitter
.academy-vimeo-social
  &:before
    content academy-vimeo-social
.academy-youtube
  &:before
    content academy-youtube





