include templates-parts/header.pug
main.main
    section.singleBlog
        article.singleBlog__post
            figure
                img(src="img/faq.jpg", alt="")
            .singleBlog__informacion
                h1.text-center.text--uppercase faq
                h4 <strong>Pregunta 1</strong>
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis dolor, assumenda, eius, tenetur reiciendis labore deleniti maiores suscipit aliquam nisi culpa natus soluta! Sint, totam quo maiores mollitia quisquam fugit.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis dolor, assumenda, eius, tenetur reiciendis labore deleniti maiores suscipit aliquam nisi culpa natus soluta! Sint, totam quo maiores mollitia quisquam fugit
                h4 <strong>Pregunta 2</strong>
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis dolor, assumenda, eius, tenetur reiciendis labore deleniti maiores suscipit aliquam nisi culpa natus soluta! Sint, totam quo maiores mollitia quisquam fugit.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis dolor, assumenda, eius, tenetur reiciendis labore deleniti maiores suscipit aliquam nisi culpa natus soluta! Sint, totam quo maiores mollitia quisquam fugit.
                h4 <strong>Pregunta 3</strong>
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis dolor, assumenda, eius, tenetur reiciendis labore deleniti maiores suscipit aliquam nisi culpa natus soluta! Sint, totam quo maiores mollitia quisquam fugit.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis dolor, assumenda, eius, tenetur reiciendis labore deleniti maiores suscipit aliquam nisi culpa natus soluta! Sint, totam quo maiores mollitia quisquam fugit.
                h4 <strong>Pregunta 4</strong>
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis dolor, assumenda, eius, tenetur reiciendis labore deleniti maiores suscipit aliquam nisi culpa natus soluta! Sint, totam quo maiores mollitia quisquam fugit.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis dolor, assumenda, eius, tenetur reiciendis labore deleniti maiores suscipit aliquam nisi culpa natus soluta! Sint, totam quo maiores mollitia quisquam fugit.
                h4 <strong>Pregunta 5</strong>
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis dolor, assumenda, eius, tenetur reiciendis labore deleniti maiores suscipit aliquam nisi culpa natus soluta! Sint, totam quo maiores mollitia quisquam fugit.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis dolor, assumenda, eius, tenetur reiciendis labore deleniti maiores suscipit aliquam nisi culpa natus soluta! Sint, totam quo maiores mollitia quisquam fugit
                
    
    
include templates-parts/footer.pug