include templates-parts/header.pug
main.main
    include templates-parts/home/slider.pug
    include templates-parts/home/cursos-countdown.pug
    include templates-parts/home/ultimos-cursos.pug
    include templates-parts/home/porque.pug
    include templates-parts/home/como-funciona.pug
    include templates-parts/home/estadisticas.pug
    include templates-parts/home/enterate-nuevo.pug
    include templates-parts/home/llamada-a-la-accion.pug
    include templates-parts/home/testimonios.pug
    
include templates-parts/footer.pug