include templates-parts/header.pug
main.main
    include templates-parts/slider.pug
    include templates-parts/cursos-countdown.pug
    include templates-parts/ultimos-cursos.pug
    
include templates-parts/footer.pug