include templates-parts/header.pug
main.main
    section.singleBlog
        article.singleBlog__post
            figure
                img(src="img/quienes-somos.jpg", alt="")
            .singleBlog__informacion
                h1.text-center Quienes Somos
                h3 Esto es The End Academy 
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis dolor, assumenda, eius, tenetur reiciendis labore deleniti maiores suscipit aliquam nisi culpa natus soluta! Sint, totam quo maiores mollitia quisquam fugit.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis dolor, assumenda, eius, tenetur reiciendis labore deleniti maiores suscipit aliquam nisi culpa natus soluta! Sint, totam quo maiores mollitia quisquam fugit 

                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis dolor assumenda, eius, tenetur reiciendis labore deleniti maiores suscipit aliquam nisi culpa natus soluta! Sint, totam quo maiores mollitia quisquam fugit.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis dolor, assumenda, eius, tenetur reiciendis labore deleniti maiores suscipit aliquam nisi culpa natus soluta! Sint, totam quo maiores mollitia quisquam fugit
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis dolor, assumenda, eius, tenetur reiciendis labore deleniti maiores suscipit aliquam nisi culpa natus soluta! Sint, totam quo maiores mollitia quisquam fugit.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis dolor, assumenda, eius, tenetur reiciendis labore deleniti maiores suscipit aliquam nisi culpa natus soluta! Sint, totam quo maiores mollitia quisquam fugit
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis dolor, assumenda, eius, tenetur reiciendis labore deleniti maiores suscipit aliquam nisi culpa natus soluta! Sint, totam quo maiores mollitia quisquam fugit.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis dolor, assumenda, eius, tenetur reiciendis labore deleniti maiores suscipit aliquam nisi culpa natus soluta! Sint, totam quo maiores mollitia quisquam fugit
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis dolor, assumenda, eius, tenetur reiciendis labore deleniti maiores suscipit aliquam nisi culpa natus soluta! Sint, totam quo maiores mollitia quisquam fugit.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis dolor, assumenda, eius, tenetur reiciendis labore deleniti maiores suscipit aliquam nisi culpa natus soluta! Sint, totam quo maiores mollitia quisquam fugit
                
    
    
include templates-parts/footer.pug