html
	-ms-text-size-adjust 100%
	-webkit-overflow-scrolling touch
	-webkit-tap-highlight-color lighten($basecolor, 75%)
	-webkit-text-size-adjust 100%
	background $background
	font-size 100%

body
	background-color transparent
	color $textcolor
	font-family $basefont
	line-height $baselineheight
	margin 0
	padding 0
	width 100%

/**
* From here it is where you must write the positioning styles
* and details that form your web. Enjoy!
*/

.bg
	&__mapa
		background-image url("../img/mapa-fondo.png")
		background-size cover
		background-position center
.blog
	background-color #eeeeee
	padding-bottom 3rem
	.box
		display flex
	&__container
		background-color white
		padding-top 3rem
	.blogArticles
	.asideArticles
		+above($bp3)
			flex 1 1 70%
	
	.blogArticles
		padding 0 1rem
		+above($bp3)
			flex-basis 62%
			margin-right 2%
				
	.asideRight
		display none
		+above($bp3)
			display block
			flex-basis 28%
	
	&__information
		h4
			font-size: 1.5rem
			margin-top 1rem
			+above($bp4)
				margin-top 0
		h2
			
			font-size 1.8rem
			text-transform: uppercase
			margin 2rem 0
			+above($bp3)
				font-size 2rem
				margin 0
			+above($bp4)
				font-size 2.5rem
				margin 2rem 0
			a
				color #666666
				&:hover
					text-decoration none
		p
			font-weight: 300
			font-size: 1rem
			+above($bp3)
				font-size 0.9rem
		
	&__item
		margin 2rem 0
		border-bottom 1px solid #CDCDCD
		padding-bottom 1rem
		+above($bp4)
			display flex
		&--sidebar
			padding 0.5rem
			border-bottom 0
			margin 1rem 0
			+above($bp4)
				padding 1rem	
			.blog__information
				margin-left 0.5rem
				h6
					color #BBBBBB
					font-size 0.8rem
					margin 0.5rem 0
					+above($bp4)
						margin-bottom 1.3rem
					
						
				h1
					
					text-transform uppercase
					color #666666
					font-size: 1rem
					margin-bottom 0
					+above($bp4)
						font-size 1.3rem
						margin-bottom 1rem
				h4
					font-size 1.1rem
					margin-top 0
	&__imagen
	&__information
		+above($bp3)
			flex 1 1 57%
	&__imagen
		+above($bp3)
			flex-basis 37.5%
			margin-right 2%
	
	
.contactanos
	
	&__form
		background-color rgba(2,20,39,0.8)
		text-align: center
		padding 2rem 0
		h2
			color white
			font-size 2rem
	&__mapa
		height 300px
	
	+above($bp4)
		display flex	
		&__form
		&__mapa
			flex 1 1 50%
		&__mapa
			height: auto
		
.coursesCountDown
	display none
	background-color #EBEBEB

	+above($bp3)
		display block
		.box
			display flex
			align-items center
			height 110px
			overflow hidden
			box-interno()
			padding-top 0
			padding-bottom 0
		&__item
			flex 1 1 33%
			span
				display block
				text-align center
		&__flex
			display flex
			align-items center
			
	
	
	
	
	.dia
		font-size 3rem
		border-bottom 2px solid $superdark
	.mes
		font-size 2rem
	&__fecha
		color #001326
		line-height 1
		
	&__informacion
		margin-left 2rem
		line-height 1
		
		span
			font-size 1.4rem
			display block
			width 250px
			color #515151
			text-align left
			margin-top 1.2rem
			font-family $altfont
			font-weight 700
	&__avaliables
		color: #333333
		font-size 1.4rem
		font-weight bold
		position relative
		&:before
			content ""
			display block
			width 2px
			height: 45px
			background-color #CACACA
			absolute top 15px left 0
		.quantity
			font-size 2.3rem
			

.enterate
	background-color #EEEEEE
	padding-top $paddingSection
	padding-bottom $paddingSection
	
	.header
		margin-bottom 3rem
	.box
		box-interno()
		display flex
		flex-direction column
		+above($bp4)
			flex-direction row
	&__caja
		
		+above($bp4)
			flex 1 1 49%
			
		&--izquierdo
			background-color $white
			margin-bottom 1rem
			padding 2rem 1rem
			figure
				display flex
				flex-direction column
			+above($bp3)
				background-color #EEEEEE
				padding 0 2rem 0 0
				border-radius 10px
				overflow hidden
				figure
					position relative
					border-radius 10px
					overflow hidden
					figcaption
						absolute bottom 25px left 0
						width 70%
						padding 0.5rem
						background-color rgba(#EEEEEE, 0.8)
						color #3E3E3E
			
		&--derecho
			article
				background-color $white
				display flex
				margin 0.5rem 0
				flex-direction column
				padding 2rem 1rem
				&:first-child
					margin-top 0
				+above($bp4)
					flex-direction row-reverse
					padding 0
					figure
						width 74.5%
	&__informacion
		padding 1rem 1rem 0 1rem
		p
			color #8F8F8F
			font-size 1.2rem
			padding-right 0.5rem
			line-height: 1.1	
		h3
			line-height: 1.2
					

				
			

.estadisticas
	background-image url("../img/estadisticas.jpg")
	background-size cover
	background-position center center
	width 100%
	color $white
	.box
		box-interno()
		display flex
		padding 0
		flex-direction column
		+above($bp4)
			flex-direction row
	&__caja
		padding 2.5rem 0
		+above($bp4)
			flex 1 1 40%
			&:last-child
				flex-basis 60%
	&__opacidad
		background-color rgba($black, 0.6)
	&__informacion
		display flex
		justify-content center
		flex-direction column
		padding 3rem 1rem
		+above($bp4)
			padding 0 1rem
		span
		strong
			display block
			text-align left
			line-height 1
			text-align center
			+above($bp4)
				text-align left
		span
			font-size 1.7rem
			+above($bp3)
				font-size 2.5rem
			+above($bp4)
				font-size 2rem
			+above($bp5)
				font-size 2.5rem
		strong
			text-transform uppercase
			font-size 2rem
			+above($bp3)
				font-size 3.5rem
			+above($bp4)
				font-size 3.2rem
			+above($bp5)
				font-size 3.5rem
		
		
	&__numeros
		display flex
		justify-content center
		flex-wrap wrap
		div
			padding 2rem 0
			width 40%
			max-width 290px
			margin 1rem
			text-align center
			span
			strong
				display block
			span
				font-size 1.4rem
				text-transform uppercase
			strong
				font-size 4rem

.formulario
	wide-max(400px)
	margin-top 2rem
			
		 
		

.footer
	gradiente()
	color $white
	padding-top $paddingSection
	padding-bottom $paddingSection
	font-size 1.2rem
	text-align center
	+above($bp3)
		text-align left
	.box
		box-interno()
		display flex
		flex-wrap wrap
		
		align-items center
		flex-direction column
		+above($bp3)
			flex-direction row
			justify-content space-around
			align-items flex-start
		.information__item
			width 100%
			margin-top 1rem
			&:first-child
				margin-top 0
			+above($bp1)
				flex 1 1 33%	
				margin-top 0
			a
				color white	

	
		
	
	

.header
	overflow hidden
	position relative
	
	&__top
		align-items center
		gradiente()
		display flex
		flex-wrap wrap
		justify-content space-between
		padding 0.5rem 0 0 0
		width 100%
		+above($bp3)
			justify-content center
		+above($bp4)
			justify-content space-around
		h1
			margin-left $gutterwidth
		.icon-nav
			margin-right $gutterwidth
			span
				background-color $secondary
		&--internal
			background-color $lightergrey
			position relative !important
			.logo
				background-image url("../img/logo.png")
			.nav
				ul
					a
						border-bottom 1px dashed $basecolor
						color $black
						&:hover
							color $white
							border-bottom 3px solid $secondary
						+above($bp3)
							border-bottom 0
					a.active
						color $white
			.icon-nav
				span
					background-color $basecolor

.porque
	background-color #EEEEEE
	text-align center
	padding-top $paddingSection
	padding-bottom $paddingSection
	.header
		margin-bottom 2rem
		+above($bp3)
			margin-bottom 5rem
	.box
		box-interno()
		display flex
		justify-content space-around
		flex-direction column
		+above($bp3)
			flex-direction row
	&__item
		wide-max(360px)
		margin-bottom 3rem
		&:last-child
			margin-bottom 0
		+above($bp2)
			width 21%
		figure
			wide-max(100px)
		+above($bp3)
			width 28%
			max-width 100%
	&__description
		font-size 1.1rem
		margin-top 0.5rem
		margin-bottom 2rem

.comoFunciona
	background-color #F5F5F5
	.porque__item
		margin-bottom 3rem
		&:last-child
			margin-bottom 0
		+above($bp2)
			width 21%

.mailing
	h3
		border-bottom 2px solid #CDCDCD
		margin-bottom 1.5rem
		padding-bottom 2.1rem
		font-size 1.8rem
		color #838383
		+above($bp1)
			font-size 2rem
	figure
		position relative
		width: 100%
		height 150px
		background-color #CDCDCD
		+above($bp3)
			height: auto
		img
			display: none
			+above($bp3)
				display block
		figcaption
			width 100%
			absolute bottom 15% left 0
			text-align center
			font-style normal
		h5
			font-size 1.1rem
			color #666666
			margin-bottom 0.3rem
			text-transform: capitalize
			+above($bp3)
				font-size 1.3rem
			+above($bp4)
				margin-bottom 2rem
				font-size 1.6rem
		&:before
			content ""
			width: 100%
			height: 100%
			background-color rgba(255,255,255,0.7)
			absolute left right top bottom
	.hidden
		display none
		+above($bp3)
			display inline-block


	

.metodosPago
	display flex
	justify-content center
	+above($bp1)
		justify-content flex-start
	li
		width 8%
		margin 0 0.2rem

.proximoCurso
	text-transform uppercase
	padding 0.5rem 1.5rem

.iniciaClases
	background-color $secondary
	color $white
	text-align center
	height inherit
	display flex
	flex-direction column
	justify-content center
	font-size: 1.5rem

.img-payment
	max-width 296px
	margin 0.5rem 0 0.5rem 1.5rem
	width 100%
	+above($bp3)
		max-width: 230px
	+above($bp3)
		max-width: 296px
	


.logo
	background-image url("../img/logo.png")
	background-repeat no-repeat
	background-size 170px 58px
	display block
	height 53px
	text-indent -99999px
	width 170px

.llamadaAccion
	gradiente()
	color $white
	.box
		display flex
		justify-content center
		align-items center
		flex-direction column-reverse
		+above($bp3)
			flex-direction row
	&__informacion
		width 95%
		font-size 1.7rem
		text-align center
		margin-bottom 3rem
		+above($bp3)
			width 42%
			font-size 1.6rem
			margin-bottom 0
			margin-left 10rem


.ultimosCursos
	box-shadow 0px 8px 14px $lightgrey
	relative top left
	z-index 2
	.box
		box-interno()
		padding 0
	+above($bp3)
		padding-top $paddingSection
		padding-bottom $paddingSection
	
	&__imagen
		position relative
		figcaption
			text-align center
			display flex
			justify-content center
			align-items center
			flex-direction column
			absolute bottom left right
			background-color rgba(0,0,0,0.7)
			height 100px
			color $white
			font-style normal
			h3
				margin-bottom 0.5rem
				font-size 1.3rem
				font-weight: 300
			
	.banderaCategoria
		display none
		+above($bp3)
			display block
			absolute top 10px left
			background-color $white
			font-family $basefont
			font-weight bold
			color $darkergrey
			padding 0 0.8rem
			&:before
				content ""
				width 8px
				height 22px
				background-color #FF4842
				absolute top bottom left -8px
				z-index 2
			&--azul
				&:before
					background-color #5F7C8A

	+above($bp3)
		.box
			display flex
			justify-content space-between
			box-interno()
		&__items
			display flex
			flex-wrap wrap
			flex 1 1 50%
			margin-bottom 3rem
			article
				width 100%
				max-width 313px
				height 163px
				margin 7px 10px
				position relative
				&:nth-child(1)
				&:nth-child(2)
					margin-top 0
				&:nth-child(1)
				&:nth-child(3)
					margin-left 0
				&:nth-child(2)
				&:nth-child(4)
					margin-right 0
				
		&__destacado
			max-width 590px
			max-height: 340px
			margin-right 20px
			display flex
			flex-wrap wrap
			flex 1 1 50%
		
		
			
				
			


	

.slider
	display none
	&:before
		absolute right 0 left 0 bottom 0 top 0
		background $basecolor 
		background linear-gradient(to right, $basecolor, $basecolor-light - 90%) 
		content " "
		display block
		opacity 0.7
	+above($bp3)
		display block
		position relative
		img
			background-size cover
			height auto
			min-height 100%
			min-width 100%
			position relative
			transition 1s opacity
			width auto
			z-index -100
		.slider--message
			absolute left 5% top 30%
			color $white
			font-size 2.1rem
			font-weight bold
			text-transform capitalize
			z-index 5
			.title
				font-size 3.5rem
				text-shadow 3px 4px 5px $black
				color $white
				text-align left
				&--secundary
					font-size 1.5rem
					max-width 800px
					width 100%
					text-shadow none
					margin-top 1rem
			+above($bp4)
				font-size 1.5rem

.seccion
	&__description
		color #616161
		font-size 1rem;
		wide-max(680px)
		font-family $altfont

.singleBlog
	background-color #EEEEEE
	color: #757584
	padding-bottom 3rem
	
	&__post
		background-color white
		wide-max(1200px)
	&__informacion
		padding 2rem 2rem 4rem 2rem
		
		h1
			margin 2rem 0
			font-size 3rem

.redesSociales
	display flex
	justify-content center
	+above($bp3)
		justify-content flex-start
	li
		margin 0 0.2rem
		a
			color #EEC5B0
			font-size: 1.7rem
			&:hover
				text-decoration none

.title
	color #333333
	text-align center
	&--main
		wide-max(590px)
		relative left
		font-size 1.6em
		font-family: $altfont
		margin-bottom 2rem
		&:before
			width 5px
			height 40px
			content ""
			background-color $secondary
			display block
			absolute top bottom left
			border-radius 5px
	&--mainMini
		wide-max(300px)
	&--item
		font-size 1.3rem
		margin-bottom 1rem
	&--contact
		font-size 1.5em
		font-family: $altfont
		margin-bottom 2rem
		color #fff
		font-weight: 300
		+above($bp3)
			text-align left
.widget
	margin 1.5rem 0
	border 2px solid #EFEFEF
	overflow hidden
	&.search
		border 0
		margin-top 0
	h3
		margin 2rem 0
		color #666666
		font-size 1.5rem
	ul
		list-style-type none
		padding-left 0
		li
			border-top 1px solid #F1F1F1
			border-bottom 1px solid #F1F1F1
			a
				display block
				padding 0.6rem
				color #666666
				&:hover
				&:visited
					background-color #FFB197
					color white
			&.activado
				> a
					color #FFB197
					text-decoration none
					&:hover
					&:visited
						color white
			ul
				li
					a
						padding-left 2rem










