html
	-ms-text-size-adjust 100%
	-webkit-overflow-scrolling touch
	-webkit-tap-highlight-color lighten($basecolor, 75%)
	-webkit-text-size-adjust 100%
	background $background
	font-size 100%

body
	background-color transparent
	color $textcolor
	font-family $basefont
	line-height $baselineheight
	margin 0
	padding 0
	width 100%

/**
* From here it is where you must write the positioning styles
* and details that form your web. Enjoy!
*/
.coursesCountDown
	display none
	background-color #EBEBEB
	+above($bp3)
		display block
		.box
			display flex
			align-items center
			height 110px
			overflow hidden
			box-interno()
		&__item
			flex 1 1 33%
			span
				display block
				text-align center
		&__flex
			display flex
			align-items center
			
	.dia
		font-size 3rem
		border-bottom 2px solid $superdark
	.mes
		font-size 2rem
	&__informacion
		margin-left 2rem
		span
			font-size 1.4rem
			display block
			width 250px
			color #515151
			text-align left
			margin-top 0.5rem
			font-family $altfont
			font-weight 700

.enterate
	background-color #eeeeee
	.box
		box-interno()
		display flex
		flex-direction column
		+above($bp4)
			flex-direction row
	&__caja
		
		+above($bp4)
			flex 1 1 49%
			
		&--izquierdo
			background-color $white
			margin-bottom 1rem
			padding 2rem 1rem
			figure
				display flex
				flex-direction column
			
		&--derecho
			article
				background-color $white
				display flex
				margin 1rem 0
				flex-direction column
				padding 2rem 1rem
				&:first-child
					margin-top 0
				+above($bp4)
					flex-direction row-reverse

				
			

.estadisticas
	background-image url("../img/estadisticas.jpg")
	background-size cover
	background-position center center
	width 100%
	color $white
	.box
		box-interno()
		display flex
		padding 0
		flex-direction column
		+above($bp4)
			flex-direction row
	&__caja
		padding 2.5rem 0
		+above($bp4)
			flex 1 1 40%
			&:last-child
				flex-basis 60%
	&__opacidad
		background-color rgba($black, 0.6)
	&__informacion
		display flex
		justify-content center
		flex-direction column
		padding 3rem 1rem
		+above($bp4)
			padding 0 1rem
		span
		strong
			display block
			text-align left
			line-height 1
			text-align center
			+above($bp4)
				text-align left
		span
			font-size 1.7rem
			+above($bp3)
				font-size 2.5rem
			+above($bp4)
				font-size 2rem
			+above($bp5)
				font-size 2.5rem
		strong
			text-transform uppercase
			font-size 2rem
			+above($bp3)
				font-size 3.5rem
			+above($bp4)
				font-size 3.2rem
			+above($bp5)
				font-size 3.5rem
		
		
	&__numeros
		display flex
		justify-content center
		flex-wrap wrap
		div
			padding 2rem 0
			width 40%
			max-width 290px
			margin 1rem
			text-align center
			span
			strong
				display block
			span
				font-size 1.4rem
				text-transform uppercase
			strong
				font-size 4rem
			
		 
		

.footer
	gradiente()
	color $white
	.box
		display flex
		flex-wrap wrap
		justify-content space-around
		padding 3rem 0
		box-interno()
	&__item
		text-align center
		span
		strong
			display block
			font-size 1.2rem
			margin 1rem 0.5rem
		span
			font-size 2.5rem
	

.header
	overflow hidden
	position relative
	
	&__top
		align-items center
		gradiente()
		display flex
		flex-wrap wrap
		justify-content space-between
		padding 0.5rem 0
		width 100%
		+above($bp3)
			justify-content center
		+above($bp4)
			justify-content space-around
		h1
			margin-left $gutterwidth
		.icon-nav
			margin-right $gutterwidth
			span
				background-color $secondary
		&--internal
			background-color $lightergrey
			position relative !important
			.logo
				background-image url("../img/logo.png")
			.nav
				ul
					a
						border-bottom 1px dashed $basecolor
						color $black
						&:hover
							color $white
							border-bottom 2px solid $secondary
						+above($bp3)
							border-bottom 0
					a.active
						color $white
			.icon-nav
				span
					background-color $basecolor

.porque
	background-color #EEEEEE
	text-align center
	padding 5rem 0
	.box
		box-interno()
		display flex
		justify-content space-around
		flex-direction column
		+above($bp3)
			flex-direction row
	&__item
		wide-max(360px)
		figure
			wide-max(100px)
		+above($bp3)
			width 28%
			max-width 100%

.comoFunciona
	background-color #F5F5F5

.proximoCurso
	text-transform uppercase
	padding 0.5rem 1rem

.iniciaClases
	background-color $secondary
	color $white
	text-align center
	height inherit
	display flex
	flex-direction column
	justify-content center


.logo
	background-image url("../img/logo.png")
	background-repeat no-repeat
	background-size 170px 58px
	display block
	height 53px
	text-indent -99999px
	width 170px

.llamadaAccion
	gradiente()
	color $white
	.box
		display flex
		justify-content space-between
		align-items center
		flex-direction column-reverse
		+above($bp3)
			flex-direction row
	&__informacion
		width 95%
		font-size 1.7rem
		text-align center
		margin-bottom 3rem
		+above($bp3)
			width 42%
			font-size 1.91rem
			margin-bottom 0


.ultimosCursos
	box-shadow 0px 8px 14px $lightgrey
	relative top left
	z-index 2
	padding 4rem 0
	&__imagen
		position relative
		figcaption
			text-align center
			display flex
			justify-content center
			align-items center
			flex-direction column
			absolute bottom left right
			background-color rgba(0,0,0,0.7)
			height 100px
			color $white
			font-style normal
	.banderaCategoria
		display none
		+above($bp3)
			display block
			absolute top left
			background-color $white
			font-family $basefont
			font-weight bold
			color $darkergrey
			padding 0 0.8rem
			&:before
				content ""
				width 8px
				height 22px
				background-color #FF4842
				absolute top bottom left -8px
			&--azul
				&:before
					background-color #5F7C8A

	+above($bp3)
		.box
			display flex
			justify-content space-between
			box-interno()
		&__destacado
		&__items
			width 50%
			margin 5px
			display flex
			flex-wrap wrap
			article
				width 46.7%
				margin 9px 7px
				position relative


	

.slider
	display none
	&:before
		absolute right 0 left 0 bottom 0 top 0
		background $basecolor 
		background linear-gradient(to right, $basecolor, $basecolor-light - 90%) 
		content " "
		display block
		opacity 0.7
	+above($bp3)
		display block
		position relative
		img
			background-size cover
			height auto
			min-height 100%
			min-width 100%
			position relative
			transition 1s opacity
			width auto
			z-index -100
		.slider--message
			absolute left 5% top 30%
			color $white
			font-size 2.1rem
			font-weight bold
			text-transform capitalize
			z-index 5
			.title
				font-size 3.5rem
				text-shadow 3px 4px 5px $black
				color $white
				text-align left
				&--secundary
					font-size 1.5rem
					max-width 800px
					width 100%
					text-shadow none
					margin-top 1rem
			+above($bp4)
				font-size 1.5rem

.title
	color #333333
	text-align center
	&--main
		wide-max(520px)
		relative left
		font-size 1.5rem
		font-family: $altfont
		&:before
			width 5px
			height 40px
			content ""
			background-color $secondary
			display block
			absolute top bottom left
			border-radius 5px










