footer.footer
	.box
		.information__item
			h5 FAQ
			ul
				li ¿Pregunta?
				li ¿Pregunta?
				li ¿Pregunta?
				li ¿Pregunta?
				li ¿Pregunta?
		.information__item
			h5 contáctanos
			ul
				li ¿Pregunta?
				li ¿Pregunta?
				li ¿Pregunta?
				li ¿Pregunta?
				li ¿Pregunta?
		.information__item
			h5 Quiza te pueda interesar
			ul
				li ¿Pregunta?
				li ¿Pregunta?
				li ¿Pregunta?
				li ¿Pregunta?
				li ¿Pregunta?