footer.footer
	.box
		.information__item
			h5.title.title--contact FAQ
			ul.list
				li ¿Pregunta?
				li ¿Pregunta?
				li ¿Pregunta?
				
		.information__item
			h5.title.title--contact Contáctanos
			ul.list.list--especial
				
				li 
					ul.list-none.redesSociales
						li
							a(href="#")
								i.academy-facebook
						li
							a(href="#")
								i.academy-twitter
						li
							a(href="#")
								i.academy-pinterest
						li
							a(href="#")
								i.academy-google-plus
						li
							a(href="#")
								i.academy-vimeo-social
						li
							a(href="#")
								i.academy-instagram
						li
							a(href="#")
								i.academy-youtube
				li Correo TEA@TEA
				li Télefono: 555-555-555
				li Formulario de contacto
				
		.information__item
			h5.title.title--contact Quiza te pueda interesar
			ul.list
				li Metodos de pago
					ul.list-none.metodosPago
						li
							a(href="#")
								img(src="../img/visa.png", alt="")

						li
							a(href="#")
								img(src="../img/mastercard.png", alt="")
						li
							a(href="#")
								img(src="../img/visa.png", alt="")
						li
							a(href="#")
								img(src="../img/mastercard.png", alt="")
						li
							a(href="#")
								img(src="../img/visa.png", alt="")
						li
							a(href="#")
								img(src="../img/mastercard.png", alt="")
						li
							a(href="#")
								img(src="../img/visa.png", alt="")
				
				li ¿Por que estudiar en TEA?
				li Deseo una clase gratis
				