footer#contactus.footer.scrollto
	.footer__item.text-center.text-white
		section.footer__form
			h6.title.title--section Contact Us
			span(class="text text-center title title--secundary") Here you can contact me so that we can work together on all the wonderful projects that have in mind.
			form.form
				input(type="text", name="name",class="form--control", placeholder="Name")
				input(type="text",name="phone",class="form--control", placeholder="Phone")
				input(type="text",name="email",class="form--control", placeholder="E-mail")
				textarea(name="message", cols="10", rows="10",class="form--control form--control--message",placeholder="Message")
				input(type="submit", value="Submit", class="btn btn--slider btn--slider--white")
	
	
	section.information
		.box
			.information__item
				span.isa-phone
				strong +57 2 310547854
			.information__item
				span.isa-location2
				strong Street 4/1 022-282 San Francisco
			.information__item
				span.isa-mail
				strong hello@isabella.com
	
	div.isa
		.box
			.isa__left Copyright © 2016 <a href="http://www.adatheme.com/" target="_blank">AdaTheme</a>. All rights reserved.
			.isa__right
				ul.list-none
					
					

	script(type="text/javascript",
		   src="//code.jquery.com/jquery-1.11.0.min.js")
	script(type="text/javascript",
		   src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
	script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js")
	script(src="//cdn.jsdelivr.net/stickynavbar.js/1.3.2/jquery.stickyNavbar.min.js")
	script(src='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.js')
	script(type="text/javascript" src="js/main.js")