nav(class="nav nav--main" , data-id="1")
    ul.list-none
        li
            a(href="index.html") Inicio
        li
            a(href="blog.html") Blog
        li
            a(href="cursos.html") Cursos
        li
            a(href="quienes-somos.html") Quienes Somos
        li.current_page_item
            a(href="contactanos.html") Contáctanos
        