nav(class="nav nav--main" , data-id="1")
    ul.list-none
        li
            a(href="inicio.html") Inicio
        li
            a(href="blog.html") Blog
        li
            a(href="cursos.html") Cursos
        li
            a(href="quienes-somos.html") Quienes Somos
        li
            a(href="contactanos.html") Contáctanos
        