.slider
	figure
		img(src="img/slider.jpg", alt="Slider", width="1600" , height="645", class="img-responsive")
		.slider--message
			h4.title Crea la trama perfecta.
			h4.title.title--secundary Conoce como elaborar la idea inicial, la construcción de los personajes e impulsa tu profesión como guionista.