section.ultimosCursos
    .box
        article.ultimosCursos__destacado
            figure.ultimosCursos__imagen
                img(src="img/taller-creacion-dialogos.jpg", alt="Taller de creacion de dialogos")
                figcaption
                    h2 Taller de creación de personajes y diálogos
                    a(href="#") Ir al curso
                    .banderaCategoria Producción
        .ultimosCursos__items
            article
                figure.ultimosCursos__imagen
                    img(src="img/curso-fotografia-escenarios.jpg", alt="curso fotografia  escenarios")
                    figcaption
                        h2 Curso fotografia escenarios
                        a(href="#") Ir al curso
                    .banderaCategoria Producción
            article
                figure.ultimosCursos__imagen
                    img(src="img/taller-creacion-personajes.jpg", alt="Taller creacion personajes")
                    figcaption
                        h2 Taller creacion personajes
                        a(href="#") Ir al curso
                    .banderaCategoria Producción
            article
                figure.ultimosCursos__imagen
                    img(src="img/curso-fotografia.jpg", alt="Curso fotografia")
                    figcaption
                        h2 Curso fotografia
                        a(href="#") Ir al curso
                    .banderaCategoria Producción
            article
                figure.ultimosCursos__imagen
                    img(src="img/direccion-cortometraje.jpg", alt="Direccion cortometraje")
                    figcaption
                        h2 Direccion cortometraje
                        a(href="#") Ir al curso
                    .banderaCategoria Producción